@model List<Rentacar.Data.Models.Nalog>
@{
    ViewData["Title"] = "Lista naloga";
}
<div class="container">
    <div class="row">
        <h2>
            @ViewData["Title"]
            <a type="button" class="btn btn-primary" asp-action="" style="float:right">Napravi novi</a>
        </h2>
    </div>
    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th scope="col">Iznos u KM</th>
                <th scope="col">Pocetna km</th>
                <th scope="col">Predjena km</th>
                <th scope="col">Vozilo</th>
                <th scope="col">Datum Izdavanja</th>
                <th scope="col">Datum Odobrenja</th>
                <th scope="col">Preuzimanje Vozila</th>
                <th scope="col">Vracanje Vozila</th>
                <th scope="col">Izmjena naloga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var bgColor = "";
                if (@item.Predjenja_Kilometraza != null)
                {
                    bgColor = "lightgreen";
                }
                else if (@item.Datum_I_Vrijeme_Odobrenja.Year > 2000)
                {
                    bgColor = "lightgoldenrodyellow";
                }
                else
                {
                    bgColor = "white";
                }
                <tr style="text-align:center;background-color:@bgColor">
                    <th>@item.Iznos_U_KM</th>
                    <td>@item.Pocetna_Kilometraza</td>
                    <td>@item.Predjenja_Kilometraza</td>
                    <td>@item.Vozilo.Broj_Registracije</td>
                    <td>@item.Datum_I_Vrijeme_Izdavanja.ToString("dd.MM.yyyy - HH:mm")</td>
                    <td>@item.Datum_I_Vrijeme_Odobrenja.ToString("dd.MM.yyyy - HH:mm")</td>
                    <td>@item.Datum_I_Vrijeme_Preuzimanja_Vozila.ToString("dd.MM.yyyy - HH:mm")</td>
                    <td>@item.Datum_I_Vrijeme_Vracanja_Vozila.ToString("dd.MM.yyyy - HH:mm")</td>
                    <td><a type="button" class="btn btn-link btn-sm" asp-action="NalogEdit" asp-route-id="@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>