@model Rentacar.Web.ViewModels.HomeVM
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <img src="~/images/homepage.png" style="width: 100%; height: auto;" />
            <br />
        </div>
        <h2>Dobro došli na portal Rent-a-car!</h2>
        <br />
        @if (!this.User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-6">
                    <h3>Prijava</h3>
                    <p>Prijavite se na sistem!</p>
                    @Html.ActionLink("Prijava na sistem", "Login", "Korisnik")
                </div>
                <div class="col-md-6">
                    <h3>Registracija</h3>
                    <p>Nemate korisnički nalog?</p>
                    @Html.ActionLink("Registruj se", "Register", "Korisnik")
                </div>
                <br />
            </div>
        }
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Kupac"))
        {
            <div class="row">
                <h3>Iznajmite novo vozilo</h3>
                <p>Izaberite vozilo i period u kojem želite iznajmiti vozilo</p>
                @Html.ActionLink("Iznajmi vozilo", "Index", "Iznajmljivanje")
                <br />
            </div>
        }
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
        {
            <div class="row">
                <h3>Admin</h3>
                <p>Upravljajte korisničkim nalozima</p>
                @Html.ActionLink("Pregled naloga klijenata (admin)", "NaloziListPotvrda", "Iznajmljivanje")
            </div>
        }
        <div class="row">
            <h3>Vijesti</h3>
            @foreach (var item in Model.Vijesti)
            {
                <div class="row">
                    <div class="col-md-12 vijestiListItem">
                        <a asp-controller="Vijesti" asp-action="Details" asp-route-id="@item.Id">
                            <h3>@Html.DisplayFor(modelItem => item.Naslov)</h3>
                        </a>
                        @Html.DisplayFor(modelItem => item.Sadrzaj)
                    </div>
                </div>
            }
            <a type="button" class="btn btn-default btnDelete" asp-controller="Vijesti">Više</a>
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="row">
                <h3>Moji Nalozi</h3>
                @foreach (var item in Model.Nalozi)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-controller="Iznajmljivanje" asp-action="NaloziList" asp-route-id="@item.Id">
                                <h3>@Html.DisplayFor(modelItem => item.Vozilo.Broj_Registracije)</h3>
                            </a>
                            <label class="control-label">Kilometraza</label>
                            <p>Pocetna: @item.Pocetna_Kilometraza , Predjena:@item.Predjenja_Kilometraza </p>
                            <label class="control-label">Datum</label>
                            <p>Datum Preuzimanja: @item.Datum_I_Vrijeme_Preuzimanja_Vozila.ToString("dd.MM.yyyy - HH:mm") , Datum Vracanja: @item.Datum_I_Vrijeme_Vracanja_Vozila.ToString("dd.MM.yyyy - HH:mm")</p>
                            <label class="control-label">Iznos (KM)</label>
                            <p>@item.Iznos_U_KM</p>
                        </div>
                    </div>
                }
                @if (!Model.Nalozi.Any())
                {
                    <div style="color:#aaa">Trenutno nemate nijedan aktivan nalog.</div>
                }
                <a type="button" class="btn btn-default btnDelete" asp-controller="Iznajmljivanje" asp-action="NaloziList">Više</a>
            </div>
        }
    </div>
</div>
